[submodule "pannellum"]
	path = assets/js/lib/pannellum
	url = https://github.com/mpetroff/pannellum.git
[submodule "geodesy"]
	path = assets/js/lib/geodesy
	url = https://github.com/chrisveness/geodesy.git
