[submodule "pannellum"]
	path = pannellum
	url = https://github.com/NiHoel/pannellum.git
	branch = cirspecte-adoptions
[submodule "geodesy"]
	path = assets/js/lib/geodesy
	url = https://github.com/chrisveness/geodesy.git
